{# Buttons and submenus used in the mega menu
    required variables
        buttonBlock: matrix block of one of the following types
            directLink: Block with no submenu, it just is a link.
                HeaderDirectLink: Typed link field, the link for this button
                buttonColor: dropdown with following options: blue, purple, green, orange.
            submenu: Block that opens the mega-menu when tapped or scrolled over.
                menuTitle: plain text, thex that will appear on the button
                links: table with the following columns, This is the links of the submenu
                    linkText: single-line text, the text of this link or heading.
                    linkUrl: single-line text, The url this link links too
                    isHeading: checkbox, is this item a top-level heading for the sub menu?
                buttonColor: dropdown with following options: blue, purple, green, orange
#}

{# set a safe default for the buttons gradient color
    Note that the start/stop values are set to the full tailwind classname,
    If this is not done, tailwind will not know to include them in the 
    compiled CSS.
#}
{% switch buttonBlock.buttonColor %}
    {% case "blue" %}
        {% set gradient_start = "from-guaynabo-blue-start" %}
        {% set gradient_end   = "to-guaynabo-blue-end" %}
    {% case "purple" %}
        {% set gradient_start = "from-guaynabo-purple-start" %}
        {% set gradient_end   = "to-guaynabo-purple-end" %}
    {% case "green" %}
        {% set gradient_start = "from-guaynabo-green-start" %}
        {% set gradient_end   = "to-guaynabo-green-end" %}
    {% case "orange" %}
        {% set gradient_start = "from-guaynabo-orange-start" %}
        {% set gradient_end   = "to-guaynabo-orange-end" %}
    {% default %}
        {% set gradient_start = "from-guaynabo-blue-start" %}
        {% set gradient_end   = "to-guaynabo-blue-end" %}
{% endswitch %}



{# The button itself #}
<div 
    style="flex-basis:177px"
    class=" flex justify-center items-center cursor-pointer 
        flex-shrink border
        hover:bg-gradient-to-tr {{gradient_start}} {{gradient_end}}
    "
>
    {% if buttonBlock.type == 'directLink' %} 
        <a href={{buttonBlock.directLink.getUrl()}}>{{buttonBlock.directLink.getText()}}</a> 
    {% else %}
        {{buttonBlock.menuTitle}}
    {% endif %}
    
</div>