{# The navigation menu shown to mobile or other narrow screens,
    Required variable
    headerMenu: Matrix, The navigation menu at the top of the page
        The blocks will become the top level buttons that open submenues when scrolled over or tapped.
        directLink: Block with no submenu, it just is a link.
            directLinkLink: Typed link field, the link for this button
            buttonColor: dropdown with following options: blue, purple, green, orange.
        submenu: Block that opens the mega-menue when tapped or scrolled over.
            menuTitle: plain text, thex that will appear on the button
            links: table with the following columns, This is the links of the submenu
                linkText: single-line text, the text of this link or heading.
                linkUrl: single-line text, The url this link links too
                isHeading: checkbox, is this item a top-level heading for the sub menu?
            buttonColor: dropdown with following options: blue, purple, green, orange
#}

{# The mobile 'open menu' button #}
<div class="sm:hidden" x-data="{open: false}">
    <div 
        class="absolute flex left-4 items-center inline text-3xl h-full cursor-pointer sm:hidden"
        x-on:click="open = !open;"
    >
        <i class="fas fa-bars" x-show="!open"></i>
        <i class="fas fa-times" x-show="open"></i>
    </div>

    <nav 
        class="absolute left-0 right-0 top-full 
            flex flex-col items-start justify-around flex-grow 
            bg-white bg-opacity-90 sm:top-0 
        "
        x-show="open"
    >

    {# Search bar #}
    <div class="p-1 block self-center
                bg-gradient-to-tr from-guaynabo-green-start to-guaynabo-green-end
         "
         x-data="{query: ''}"
    >
        <input 
            type="text" 
            placeholder="busco..."
            class="h-full bg-white bg-opacity-80 px-2 focus:outline-darken"
            x-on:input="query=$el.value"
            x-on:keyup.enter="utils.execute_search(query)"
        >
        <button 
            class="h-[35] w-[25px]"
            x-on:click="utils.execute_search(query)"
        >
            <i class="fas fa-search text-white"></i>
        </button>
    </div>

    {# settign some classes that will apper in multiple places below #}
    {% set sectionTitleClasses = "text-xl font-bold text-guaynabo-blue" %}
    {% set detailsClasses = "" %}
    {% set summaryClasses = "" %}
    {% set listItemClasses = "ml-4" %}

    {# Making each section #}
    {% for section in headerMenu.all() | default(header.headerMenu.all()) %}
        {# The Div containing a section #}
        <div class="ml-8">
        {% if section.type == "directLink" %}
            {{section.headerDirectLink.getLink({class:sectionTitleClasses})}}
        {% else %} {# It's a submenu #}
            <div class="{{sectionTitleClasses}}">{{section.menuTitle}}</div>
            {# Now put the submenus under it. 
                each submenu is a <details> with the first item being used as
                the contents of the <summary>
                Each new entry for which isHeading is tru will close the 
                previous <details> and open a new <details>.
                the final itteration closes the final <details> tag.
            #}
            {% for link in section.links %}
                {% if loop.first %} 
                    {# Open the first <details> #}
                    <details class="{{detailsClasses}}">
                {% endif %}

                {% if loop.first %}
                    {# Don't close the <details> #}
                    {# First one is always a <summary> #}
                    <summary class="{{summaryClasses}} hide-expand-if-alone">
                        {% if link.linkUrl is not empty %}
                            <a href={{link.linkUrl}}>{{link.linkText}}</a>
                        {% else %}
                            {{link.linkText}}
                        {% endif %}
                    </summary>
                {% else %}
                    {% if link.isHeading %}
                        {# close previous <details> and open the next one #}
                        </details>
                        <details class="{{detailsClasses}}">
                        <summary class="{{summaryClasses}} hide-expand-if-alone">
                            {% if link.linkUrl is not empty %}
                                <a href={{link.linkUrl}}>{{link.linkText}}</a>
                            {% else %}
                                {{link.linkText}}
                            {% endif %}
                        </summary>
                    {% else %}
                        <div class="{{listItemClasses}}">
                            {% if link.linkUrl is not empty %}
                                <a href={{link.linkUrl}}>{{link.linkText}}</a>
                            {% else %}
                                {{link.linkText}}
                            {% endif %}
                            
                        </div>
                    {% endif %}
                {% endif %}

                {% if loop.last %}
                    {# close the final <details> #}
                    </details>
                {% endif %}
            {% endfor %}
        {% endif %}
        </div>
    {% endfor %}

    </nav>
</div>
