{#  Presents a listing of the calendar events for a given year
 #  
 #  Required Section: calendar
 #  calendar entry fields
 #      title, plaintext
 #      startTime
 #      endTime
 #      simpleUrl
 #      simpleContent
 #      eventTags
 #}

 {% extends "_layouts/3-base.twig" %}

 {% set thisYear = thisYear ?? craft.app.request.getQueryParam('year') ?? now | date('Y') %}
 {% set isLeapYear =  thisYear | date('L') %}

 {% set trueYear  = now | date('Y') %}
 {% set trueMonth = now | date('n') %}
 {% set trueDate  = now | date('j') %}


{% block base_supercontent %}
    {% include "_partials/entry_titlebar" with {title : "Calendario de Eventos: #{thisYear}"} %}
    <div class="flex justify-between text-lg mx-6 mt-4">
        <a href="/calendar?year={{thisYear - 1}}"><i class="fas fa-chevron-left"></i><i class="fas fa-chevron-left"></i> {{thisYear - 1}}</a>
        <div>{{thisYear}}</div>
        <a href="/calendar?year={{thisYear + 1}}">{{thisYear + 1}} <i class="fas fa-chevron-right"></i><i class="fas fa-chevron-right"></i></a>
    </div>
{% endblock %}

{# macro defining the days #}
{% macro day(year, month, date, eventsArray,trueDate) %}
    <div  class="flex border-2 border-b-0 last:border-b-2">
        {# The date and day #}
        <div 
            class=" w-20 text-center relative"
            x-data='{
                calendarDate: "{{year ~ '-' ~ "%02d"|format(month)  ~ '-' ~ "%02d"|format(date) }}",
            }'
            x-bind:class="calendarDate == trueDate ? 'text-guaynabo-blue' : ''"
        >
            <h3 class="text-center text-4xl"> {{ "%02d"|format(date) }} </h3>
            {{"#{year}-#{month}-#{date}" | date('l')}}
            <div class="absolute right-0 top-2 bottom-2 w-2 border-r-2">&nbsp;</div>
        </div>
        {# The events themselves #}
        <div class="ml-2">
            {% for event in eventsArray %}
            <details class="">
                <summary class="">
                    {% if not event.simpleUrl.isEmpty() %}
                        <a href="{{event.simpleUrl.url}}">{{event.title}}</a>
                    {% else %}
                        {{event.title}}
                    {% endif %}
                    
                </summary>
                <div class="pl-4">
                    <div class="flex">{{event.startTime | date('g:H a')}} {{event.endTime | date('g:H a')}}</div>
                    <p>{{event.simpleContent }}</p>
                </div>
            </details>
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{# Macro defining the months #}
{% macro month(monthNumber,year, yearArray, trueYear, trueMonth, trueDate) %}
    {% set thisMonthClass = monthNumber == trueMonth and year == trueYear ? "text-guaynabo-blue" : "" %}
    <div class="">
        <h2 class="text-3xl font-advantage {{thisMonthClass}}">{{ "#{year}-#{monthNumber}" | date('F')}}</h2>
        <div class="ml-4">
            <div class="ml-6 hide-if-not-alone">No hay eventos este mes.</div>
            {% if (yearArray[monthNumber] ?? false) %}
                {% for dateNumber, eventsArray in yearArray[monthNumber] %}
                    {{_self.day(year, monthNumber, dateNumber, eventsArray,trueDate)}}
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% block base_content %}
    {# annual pagination #}
    {# The year calendar #}

    {% set yearArray = calenderEntriesAnnual(thisYear) %}

    {% cache globally using key craft.app.request.queryString for 1 seconds %}
    <div 
        class=""
        x-data="{
            trueDate : new Date().toISOString().split('T')[0],
        }"
    >
        {% for monthNumber in 1..12 %}
            {{ _self.month(monthNumber, thisYear, yearArray, trueYear, trueMonth, trueDate) }} 
        {% endfor %}
    </div>
    {% endcache %}
{% endblock %}

    
    
    
    
    
    
    
    
    
    
    
    
    
    
