{#  Displays the information about an individual event calendar event.
 #  
 #  Entry fields
 #      required
 #          title, plaintext
 #          startTime, date-time
 #          endTime, date-time
 #      optional
 #          simpleUrl, Link field, url for more information bout the event. Used as an
 #              alternative to the event's _entry page.
 #          simpleContent, redactor, Short description of the event
 #          eventTags, tags, Tags relating this event to stuff.
 #  
 #}

 {% extends "_layouts/3-base" %}
 {% set base_sidebarLeft = true %}

{% block base_supercontent %}
    {% include "_partials/entry_titlebar" with {colorGradient: "purple"} %}
{% endblock %}

{% block base_content %}
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis laudantium odit nulla obcaecati quas commodi aliquid explicabo! Quidem, in! Impedit laudantium aliquam nostrum quae, deleniti assumenda exercitationem voluptates mollitia fugit.
{% endblock %}

{% block base_sidebar %}
    <div class="text-white bg-gradient-to-tr from-guaynabo-purple-start to-guaynabo-purple-end">
        <h2>Desde:</h2>
            <div class="ml-4">
                <span class="capitalize">{{entry.startTime | date("l") }}</span><br>
                <span class="capitalize">{{entry.startTime | date("F") }}</span>
                {{entry.startTime | date("n, Y") }}
            </div>
        <h2>Hasta:</h2>
            <div class="ml-4">
                <span class="capitalize">{{entry.endTime | date("l") }}</span><br>
                <span class="capitalize">{{entry.endTime | date("F") }}</span>
                {{entry.endTime | date("n, Y") }}
            </div>
    </div>
{% endblock %}