{#  Presents a listing of the calendar events for a given year
 #  
 #  Required Section: calendar
 #  calendar entry fields
 #      title, plaintext
 #      startTime
 #      endTime
 #      simpleUrl
 #      simpleContent
 #      eventTags
 #}

 {% extends "_layouts/3-base.twig" %}

 {% set thisYear = thisYear ?? craft.app.request.getQueryParam('year') ?? now | date('Y') %}
 {% set isLeapYear =  thisYear | date('L') %}

{% block base_supercontent %}
    {% include "_partials/entry_titlebar" with {title : "Calendario de Eventos: #{thisYear}"} %}
{% endblock %}

{# macro defining the days #}
{% macro day(year, month, date) %}
    {% set nextDay  = "#{year}-#{month}-#{date}" | date_modify('+1 day') | date('Y-n-d')%}
    {% set dayQuery = craft.entries()
        .section('eventsCalendar')
        .startTime('>= "#{year}-#{month}-#{date}"')
        .endTime("< #{nextDay}")
        .cache()
    %}

    <div class="text-center">
        {# The date and day #}
        <div class="border-r w-16">
            <h3 class="text-center text-4xl"> {{ "%02d"|format(date) }} </h3>
            {{"#{year}-#{month}-#{date}" | date('l')}}
        </div>
        {# The events themselves #}
        <div class="">
        </div>
    </div>
{% endmacro %}

{# Macro defining the months #}
{% macro month(monthNumber, year, daysInMonth) %}
    <div class="">
        <h2 class="text-3xl font-advantage">{{ "#{year}-#{monthNumber}" | date('F')}}</h2>
        <div class="ml-4">
            {% for day in 1..daysInMonth %}
                {{ _self.day(year, monthNumber, day) }}
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{% block base_content %}
    {# annual pagination #}
    {# The year calendar #}
    <div class="">
        {{ _self.month( 1, thisYear, 31) }}
        {{ _self.month( 2, thisYear, isLeapYear ? 29 : 28 ) }}
        {{ _self.month( 3, thisYear, 31) }}
        {{ _self.month( 4, thisYear, 30) }}
        {{ _self.month( 5, thisYear, 31) }}
        {{ _self.month( 6, thisYear, 30) }}
        {{ _self.month( 7, thisYear, 31) }}
        {{ _self.month( 8, thisYear, 31) }}
        {{ _self.month( 9, thisYear, 30) }}
        {{ _self.month(10, thisYear, 31) }}
        {{ _self.month(11, thisYear, 30) }}
        {{ _self.month(12, thisYear, 31) }}
    </div>
{% endblock %}

    
    
    
    
    
    
    
    
    
    
    
    
    
    
