{#  Presents a listing of the calendar events for a given year
 #  
 #  Required Section: calendar
 #  calendar entry fields
 #      title, plaintext
 #      startTime
 #      endTime
 #      simpleUrl
 #      simpleContent
 #      eventTags
 #}

 {% extends "_layouts/3-base.twig" %}

 {% set thisYear = thisYear ?? craft.app.request.getQueryParam('year') ?? now | date('Y') %}

{% block base_supercontent %}
    {% include "_partials/entry_titlebar" with {title : "Calendario de Eventos: #{thisYear}"} %}
{% endblock %}

{# macro defining the days #}
{% macro day(title, startTime, endTime, simpleUrl, simpleContent, eventTags) %}
    <div class="">{{title}}</div>
{% endmacro %}

{# Macro defining the months #}
{% macro month(name, number, thisYear) %}
    {% set nextMonth = "#{thisYear}-#{number}" | date_modify('+1 month') | date('m') %}
    {% set nextYear  = "#{thisYear}-#{number}" | date_modify('+1 month') | date('Y') %}

    {% set monthquery = craft.entries()
        .section('eventsCalendar')
        .startTime(">= #{thisYear}-#{number}")
        .endTime("< #{nextYear}-#{nextMonth}")
        .cache() 
    %}

    <div class="">
        {% for event in monthquery.all() %}
            {{ _self.day(event.title, event.startTime, event.endTime, event.simpleUrl, event.simpleContent, event.eventTags) }}
        {% else %}
            <p>No hay eventos este mes.</p>
        {% endfor %}
    </div>
{% endmacro %}

{% block base_content %}
    {# annual pagination #}
    {# The year calendar #}
    <div class="">
        {{ _self.month('enero',      1, thisYear) }}
        {{ _self.month('febrero',    2, thisYear) }}
        {{ _self.month('marzo',      3, thisYear) }}
        {{ _self.month('abril',      4, thisYear) }}
        {{ _self.month('mayo',       5, thisYear) }}
        {{ _self.month('junio',      6, thisYear) }}
        {{ _self.month('julio',      7, thisYear) }}
        {{ _self.month('agosto',     8, thisYear) }}
        {{ _self.month('septiembre', 9, thisYear) }}
        {{ _self.month('octubre',   10, thisYear) }}
        {{ _self.month('noviembre', 11, thisYear) }}
        {{ _self.month('diciembre', 12, thisYear) }}
    </div>

    {# annual pagination #}
{% endblock %}


    
    
    
    
    
    
    
    
    
    
    
    
