{#  Presents a listing of the calendar events for a given year
 #  
 #  Required Section: calendar
 #  calendar entry fields
 #      title, plaintext
 #      startTime
 #      endTime
 #      simpleUrl
 #      simpleContent
 #      eventTags
 #}

 {% extends "_layouts/3-base.twig" %}

 {% set thisYear = thisYear ?? craft.app.request.getQueryParam('year') ?? now | date('Y') %}
 {% set isLeapYear =  thisYear | date('L') %}

{% block base_supercontent %}
    {% include "_partials/entry_titlebar" with {title : "Calendario de Eventos: #{thisYear}"} %}
{% endblock %}

{# macro defining the days #}
{% macro day() %}
    <div class="">
    </div>
{% endmacro %}

{# Macro defining the months #}
{% macro month(monthNumber, year, daysInMonth) %}
    <div class="">

    </div>
{% endmacro %}

{% block base_content %}
    {# annual pagination #}
    {# The year calendar #}
    <div class="">
        {{ _self.month( 1, thisYear, 31) }}
        {{ _self.month( 2, thisYear, isLeapYear ? 29 : 28 ) }}
        {{ _self.month( 3, thisYear, 31) }}
        {{ _self.month( 4, thisYear, 30) }}
        {{ _self.month( 5, thisYear, 31) }}
        {{ _self.month( 6, thisYear, 30) }}
        {{ _self.month( 7, thisYear, 31) }}
        {{ _self.month( 8, thisYear, 31) }}
        {{ _self.month( 9, thisYear, 30) }}
        {{ _self.month(10, thisYear, 31) }}
        {{ _self.month(11, thisYear, 30) }}
        {{ _self.month(12, thisYear, 31) }}
    </div>
{% endblock %}

    
    
    
    
    
    
    
    
    
    
    
    
    
    
