{#  Handler for the paragraphAndGallery block type of the superContent matrix  
    Creates a slideshow gallery with text wrapping around it.

    Block Fields 
        superblock.redactorText: Redactor field
        superblock.images: assets, images, multiple selections allowed
#}

<div class="">
    {# The galery, only shown if there are some images to show. #}
    {% if superblock.images.exists() %}
    <div class="w-full sm:float-right sm:w-1/3 "> {#aspect ratio padding trick wrapper#}
        <div 
            class="relative grid w-full h-0 pb-[100%] overflow-hidden"
            x-data="{currentImage: 1, maxImage:1}"
            {# the x-init handles moving to the next image.
                The setInterval()'s interval (last arg, Number) is the time each
                image will be on screen before moving out.
                #}
            x-init="setInterval(()=>{currentImage++; if(currentImage > maxImage) currentImage = 1},5000)"
        >
            {% for image in superblock.images.all() %}
            {# TODO: set these up to also have afull-screen modal to show the full image when clicked. #}
                <img src="{{image.url}}" alt="{{image.title}}" 
                    class="object-contain absolute h-full w-full"
                    x-data="{myNumber:{{loop.index}}}"
                    x-show="myNumber === currentImage"
                    {% if not loop.first %}x-cloak{% endif %}
                    {% if loop.last %}x-init="maxImage = {{loop.index}}"{% endif %}
                    {# The animation for transitioning in and out.#}
                        x-transition:enter="transition duration-[.85s]"
                        x-transition:enter-start="transform translate-x-full"
                        x-transition:enter-end="transform translate-x-0"
                        x-transition:leave="transition duration-[.80s]"
                        x-transition:leave-start="transform translate-x-0"
                        x-transition:leave-end="transform -translate-x-full"
                >
            {% endfor %}
        </div>
    </div> {# end aspect ratio trick wrapper#}
    {% endif %}

    {# The redactor text #}
    {{superblock.redactorText}}
</div>
{# A spacer to float-clear #}
<div class="clear-both h-px">&nbsp;</div>