{#  Handler for the paragraphAndGallery block type of the superContent matrix  
    Creates a slideshow gallery with text wrapping around it.

    Block Fields 
        superblock.redactorText: Redactor field
        superblock.images: assets, images, multiple selections allowed
#}

<div class="">
    {# The galery, only shown if there are some images to show. #}
    {% if superblock.images.exists() %}
    <div class="float-right w-1/3 border border-green-500"> {#aspect ratio padding trick wrapper#}
        <div 
            class="relative grid w-full h-0 pb-[100%] border border-solid"
            x-data="{currentImage: 1, maxImage:1}"
            x-init="setInterval(()=>{currentImage++; if(currentImage > maxImage) currentImage = 1},1000)"
        >
            {% for image in superblock.images.all() %}
                <img src="{{image.url}}" alt="{{image.title}}" 
                    class="object-cover transition-transform absolute h-full w-full"
                    x-data="{myNumber:{{loop.index}}}"
                    x-show="myNumber === currentImage"
                    {% if not loop.first %}x-cloak{% endif %}
                    {% if loop.last %}x-init="maxImage = {{loop.index}}"{% endif %}
                >
            {% endfor %}
        </div>
    </div> {# end aspect ratio trick wrapper#}
    {% endif %}
    
    {{superblock.redactorText}}
</div>