{# This supercontent block renders a search-page and listings of the municiple documents

    Required section: documentosMunipales
    Required entry fields: 
        title: plaintext
        documentosMunicipalesAno: dropdown, the year of the document
        documentosMunicipalesPdf: asset, single, PDF only. The pdf this entry references
    Optional entry fields
        documentosMunicipalesCategoria: Category, single, the document's category
#}


{# Getting search params #}
{% set search_title = craft.app.request.getParam('title') %}
{% set search_year = craft.app.request.getParam('year') %}
{% set search_category = craft.app.request.getParam('category') %}
{# We need the entry ID of the category#}
{% if search_category is not empty %}
    {% set search_category_entry_id = craft.categories().group('documentosMunicpalesCategorias').title(search_category).one().id ?? null %}
{% else %}
    {% set search_category_entry_id = null %}
{% endif %}

{# Get the PDFs #}
{% set entry_query = craft.entries({
    section: 'documentosMunicipales',
    relatedTo: search_category_entry_id,
  })
  .search(search_title)
%}
{# Macro for the individual documents found #}
{% macro docMacro(title,year,category,link,catexist) %}
    <div class="col-span-full h-[2px] bg-guaynabo-gray">&nbsp;</div>
    <div class="ml-4">{{title}}</div>
    {% if catexist %}<div class="">{{category}}</div>{% endif %}
    <div class="">{{year}}</div>
    {% if link %}
        <a href="{{link}}" class="text-guaynabo-blue underline mr-4">Descargar</a>
    {% else %}
        <div class="">Enlaces</div>
    {% endif %}
{% endmacro %}

{# Do any categories exist? #}
{% set catexist = craft.categories().group('documentosMunicpalesCategorias').exists() %}

{# Get the color gradient #}
{% switch entry.colorGradient ?? 'default' %}
    {% case "blue" %}
        {% set selectors_bg_gradient_start = "from-guaynabo-blue-start" %}
        {% set selectors_bg_gradient_end   =   "to-guaynabo-blue-end" %}
    {% case "purple" %}
        {% set selectors_bg_gradient_start = "from-guaynabo-purple-start" %}
        {% set selectors_bg_gradient_end   =   "to-guaynabo-purple-end" %}
    {% case "green" %}
        {% set selectors_bg_gradient_start = "from-guaynabo-green-start" %}
        {% set selectors_bg_gradient_end   =   "to-guaynabo-green-end" %}
    {% case "orange" %}
        {% set selectors_bg_gradient_start = "from-guaynabo-orange-start" %}
        {% set selectors_bg_gradient_end   =   "to-guaynabo-orange-end" %}
    {% default %}
        {% set selectors_bg_gradient_start = "from-guaynabo-blue-start" %}
        {% set selectors_bg_gradient_end   =   "to-guaynabo-blue-end" %}
{% endswitch %}

 <section
    class="relative"
    x-data="{working: false}"
 >
    {# The search box #}
    {# get values for year dropdown #}
    <div 
        class="
            flex flex-wrap justify-center gap-x-8 px-8 py-6
            bg-gradient-to-tr {{selectors_bg_gradient_start}} {{selectors_bg_gradient_end}}
        "
    >
        {% set inputClasses = " bg-white bg-opacity-50 text-guaynabo-blue border-0 " %}
        {# The Title Search #}
        <input 
            class="
                {{inputClasses}} px-4 flex-grow max-w-[60ch] min-w-[20ch]
            "
            type="text"
            placeholder="buscar titulos"
            name="title"
            id="input_title"
            value="{{search_title}}"
            x-on:change="working = true"
        >
        </input>

        {# Year Selecton #}
        {% set year_options = craft.app.fields.getFieldByHandle('documentosMunicipalesAno').options | map(option => option.value)%} 
        <select 
            name="year" 
            id="input_year" 
            class="{{inputClasses}} min-w-[8ch]"
            x-on:change="working = true"
        >
            <option value="">Año</option>
            {% for year in year_options %}
                <option value="{{year}}" {{search_year == year ? "selected"}} >
                    {{year}}
                </option>
            {% endfor %}
        </select>

        {# Category Selection #}
        {% set category_options = craft.categories().group('documentosMunicpalesCategorias').cache().all() %}
        <select 
            name="category" 
            id="input_category" 
            class="{{catexist ? inputClasses : 'hidden'}}"
            x-on:change="working = true"
        >
            <option value="">Categoría</option>
            {% for cat in category_options %}
                <option value="{{cat.title}}" {{search_category == cat ? "selected"}}>
                    {{cat.title}}
                </option>
            {% endfor %}
        </select>
    </div>

    {# The results listings #}
    {% set gridcols = catexist ? 'grid-cols-[repeat(4,auto)]' : 'grid-cols-[repeat(3,auto)]' %}
    <div 
        class="my-8 grid {{gridcols}} gap-y-4 gap-x-4 justify-around"
    >
        {# The table header #}
        {{_self.docMacro(
            'Titulo',
            'Año',
            'Categoría',
            false,
            catexist
        )}}
        {% for document in entry_query.all() %}
            {{_self.docMacro(
                document.title,
                document.documentosMunicipalesAno,
                (document.documentosMunicipalesCategoria.title ?? ''),
                document.documentosMunicipalesPdf.one().url,
                catexist
            )}}
        {% endfor %}
    </div>
    
    {# Overlay for when the page is 'working' #}
    <div 
        x-show="working"
        class="absolute inset-0 overflow-hidden
        bg-white bg-opacity-80
        "
    >
        {# The message container #}
        <div class="fixed top-[50%] left-[50%] -translate-x-1/2 -translate-y-1/2
            flex justify-center items-center rounded-md p-6
            bg-guaynabo-blue-dark bg-opacity-50
        "
        >
        <i class="fas fa-spinner text-guaynabo-blue mr-4 animate-spin"></i>
        <div class="text-xl text-guaynabo-blue font-advantage">Buscando</div>
        </div>
    </div> {# end overlay div #}
    {% include "_partials/documentosMunicipales/script.twig" %}
 </section>