{# This supercontent block renders a search-page and listings of the municiple documents

    Required section: documentosMunipales
    Required entry fields: 
        title: plaintext
        documentosMunicipalesAno: dropdown, the year of the document
        documentosMunicipalesPdf: asset, single, PDF only. The pdf this entry references
    Optional entry fields
        documentosMunicipalesCategoria: Category, single, the document's category
 #}

{# Get the PDFs #}
{% set entry_query = craft.entries({
    section: 'documentosMunicipales',
  })
%}
{# Macro for the individual documents found #}
{% macro docMacro(title,year,category,link = null) %}
    <div class="col-span-full h-[2px] bg-guaynabo-gray">&nbsp;</div>
    <div class="">{{title}}</div>
    <div class="">{{year}}</div>
    <div class="">{{category}}</div>
    {% if link %}
        <a href="{{link}}" class="text-guaynabo-blue underline">Descargar</a>
    {% else %}
        <div class="">{{"&nbsp" | raw}}</div>
    {% endif %}
{% endmacro %}

{# Get the color gradient #}
{% switch entry.colorGradient ?? 'default' %}
    {% case "blue" %}
        {% set selectors_bg_gradient_start = "from-guaynabo-blue-start" %}
        {% set selectors_bg_gradient_end   =   "to-guaynabo-blue-end" %}
    {% case "purple" %}
        {% set selectors_bg_gradient_start = "from-guaynabo-purple-start" %}
        {% set selectors_bg_gradient_end   =   "to-guaynabo-purple-end" %}
    {% case "green" %}
        {% set selectors_bg_gradient_start = "from-guaynabo-green-start" %}
        {% set selectors_bg_gradient_end   =   "to-guaynabo-green-end" %}
    {% case "orange" %}
        {% set selectors_bg_gradient_start = "from-guaynabo-orange-start" %}
        {% set selectors_bg_gradient_end   =   "to-guaynabo-orange-end" %}
    {% default %}
        {% set selectors_bg_gradient_start = "from-guaynabo-blue-start" %}
        {% set selectors_bg_gradient_end   =   "to-guaynabo-blue-end" %}
{% endswitch %}

 <section
    class=""
    {# x-data="{working: false}" #}
 >
    {# The search box #}
    <div 
        class=" 
            px-8 py-6
            bg-gradient-to-tr {{selectors_bg_gradient_start}} {{selectors_bg_gradient_end}}
        "
    >
        search thngs here
    </div>

    {# The results listings #}
    <div 
        class="grid grid-cols-4"
    >
        {# The table header #}
        {{_self.docMacro(
            'Titulo',
            'Año',
            'Categoría',
        )}}
        {% for document in entry_query.all() %}
            {{_self.docMacro(
                document.title,
                document.documentosMunicipalesAno,
                (document.documentosMunicipalesCategoria.title ?? ''),
                document.documentosMunicipalesPdf.one().url,
            )}}
        {% endfor %}
    </div>
    
 </section>