{# An individual entry in the list of results for a search for the ordinance and 
   resoulutions listings
 #}

<div class="grid grid-cols-4 pb-2 mb-4 border-b border-guaynabo-gray">

  
  {# The serie #}
  <div class=""> {{result.serie}} </div>
  
  {# The numero #}
  <div class=""> {{result.numero}} </div>
  
  {# The tipo #}
  <div class=""> {{result.tipo}} </div>

  {# Download link #}
  {% if result.url is defined %}
  <a class="" target="_blank" href={{result.url}}> Descargar </a>
  {% endif %}

  {# Description  #}
  {% if result.descripcion is defined %}
    <details class="col-span-full">
      <summary>Detalle</summary>
      {{result.descripcion}}
    </details>
  {% endif %}
</div>