{#  Displays the current weeks events.  
    Events are pulled from the '' section.

    entry fields
        startTime
        endTime
        simpleUrl
        simpleContent
        eventTags
 #}

{# macro defining the days #}
{% macro day(startOfDay, isToday) %}
    {% set endOfDay =  startOfDay | date_modify('+1 day') | date_modify('-1 second') %}
    {% set dayQuery = craft.entries()
        .section('eventsCalendar')
        .startTime("<= #{ endOfDay | atom }") 
        .endTime(">= #{ startOfDay | atom }")
        .cache()
    %}
    {# day container #}
    <div class="flex border border-guaynabo-gray border-t-0 first:border-t">
        {# day/date box #}
        <div 
            class="flex-grow-0 w-[4.5rem] mr-2
                border-r border-r-guaynabo-gray
                {{isToday ? 'text-guaynabo-blue' :''}}
            "
        >
            <h3 class="text-center text-3xl">{{ startOfDay | date('d') }}</h3>
            <div class="text-center">{{startOfDay | date('l') | lower }}</div>
        </div>
        {# events listing #}
        <div class="">
            {% if dayQuery.exists %}
            {% for event in dayQuery.all() %}
                <a 
                    href="{{ event.simpleUrl.isEmpty() ? event.url : event.simpleUrl.url }}" 
                    class="block"
                >
                    {{ event.title }}
                </a>
            {% endfor %}
            {% else %}
                <div class="">No hay eventos este diá</div>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% set today = now | date_modify('today') %}

{# this week's calendar #}
<div class="w-full">
    <h2 class="text-center">Próximamente</h2>
    <div class="w-full">
        {# The individual days #}
        {% for number in 0..6 %}
            {% set thisDay =  today | date_modify("+#{number} day") %}
            {{ _self.day(thisDay, loop.first) }}
        {% endfor %}
</div>
</div>