{#  Page that handles searches and presents the search results
 #}

{% set urlQueryText = craft.app.request.getQueryParam('q') ?? null %}

{% extends "_layouts/3-base" %}

{% block base_supercontent %}
    {% include "_partials/entry_titlebar" with {title : "Sus búsquedas"} %}
{% endblock %}

{% block base_content %}
    {% if urlQueryText %}

        {% set query = craft.entries()
            .search(urlQueryText) 
            .section('not ordenanzasYResolutiones') 
        %}
            {# 
            #}
        {% if query.exists %}
            {% for result in query.all() %}
                <a
                    href="{{result.url}}"
                    class="mb-4"
                >
                    <div class="font-advantage text-2xl">
                        {{result.title}}
                    </div>
                    {{result.section}}
                    {% set ancestors = result.getAncestors %}
                    {% if ancestors | length > 0 %}
                      >> {{ ancestors | map(a=>"#{a.title}") | join(" >> ") }}
                    {% endif %}
                    >> {{result.title}}
                </a>
            {% endfor %}
        {% else %}
            <p>No se encontraron resultados de búsqueda.</p>
        {% endif %}
    {% else %}
        <p>No se proporcionó ninguna consulta de búsqueda.</p>
    {% endif %}
{% endblock %}

