{#  Page that handles searches and presents the search results
    
    Query Params
 #}


{% extends "_layouts/3-base" %}

{# Get search query #}
{% set urlQuery_text = craft.app.request.getQueryParam('q') ?? null %}
{# getting the tags, if any #}
{% set urlQuery_tags = craft.app.request.getQueryParam('t') ?? null %}
{% if urlQuery_tags %}
    {% set tags = urlQuery_tags | split(',') | map( t => craft.tags().title(t).all() ) %}
{% else %}
    {% set tags = null %}
{% endif %}
{# same as the tags, but for categories #}
{% set urlQuery_cats = craft.app.request.getQueryParam('c') ?? null %}
{% if urlQuery_cats %}
    {% set cat_txt = urlQuery_cats | split(',') | first %}
    {% set cat = craft.categories().title(cat_txt).one() %}
{% else %}
    {% set cat = null %}
{% endif %}

{# getting our results #}
{% set query = craft.entries()
    .search(urlQuery_text) 
    .section([
        'and',
        'not ordenanzasYResolutiones',
        'not emergencyMessage',
        'not errorPages',
    ])
    .relatedTo(tags)
    .relatedTo(cat)
    .limit(10)
%}

{% block base_supercontent %}
    {% include "_partials/entry_titlebar" with {title : "Sus búsquedas"} %}
{% endblock %}

{% block base_content %}

    {% if query.exists %}
        {% paginate query as pageInfo, pageEntries %}
        
        {# The individual listings #}
        {% for result in pageEntries %}
            <a
                href="{{result.url}}"
                class="mb-4 py-2 border-b block"
            >
                <div class="font-advantage text-2xl">
                    {{result.title}}
                </div>
                {{result.section}}
                {% set ancestors = result.getAncestors %}
                {% if ancestors | length > 0 %}
                    >> {{ ancestors.all() | map(a=>"#{a.title}") | join(" >> ") }}
                {% endif %}
                >> {{result.title}}
            </a>
        {% endfor %}

        {# pagination #}
        <div class="flex justify-between mt-4 mx-auto max-w-md">
            {% if pageInfo.prevUrl %}<a href="{{ pageInfo.prevUrl }}">Siguiente</a> {% else %} <div class="w-px h-px">&nbsp;</div> {% endif %}
            <div class=""> {{pageInfo.first}} a {{pageInfo.last}} de {{pageInfo.total}} resultados </div>
            {% if pageInfo.nextUrl %}<a href="{{ pageInfo.nextUrl }}">Previo</a> {% else %} <div class="w-px h-px">&nbsp;</div> {% endif %}
        </div>
    {% else %}
        {# No results were found. #}
        <p>No se encontraron resultados de búsqueda.</p>
    {% endif %}

{% endblock %}

