{#  Page that handles searches and presents the search results
    
    Query Params
 #}


{% extends "_layouts/3-base" %}

{# Search Query Stuff, (fold code here.) #}
    {# Get search query #}
    {% set urlQuery_text = craft.app.request.getQueryParam('q') ?? null %}

    {# getting the tags, if any #}
    {% set urlQuery_tags = craft.app.request.getQueryParam('t') ?? null %}
    {% if urlQuery_tags %}
        {% set tags = urlQuery_tags | split(',') | map( t => craft.tags().title(t).all() ) %}
    {% else %}
        {% set tags = null %}
    {% endif %}

    {# same as the tags, but for categories #}
    {% set urlQuery_cats = craft.app.request.getQueryParam('c') ?? null %}
    {% if urlQuery_cats %}
        {% set cat_txt = urlQuery_cats | split(',') | first %}
        {% set cat = craft.categories().title(cat_txt).one() %}
    {% else %}
        {% set cat = null %}
    {% endif %}

    {# same as tags, but for section #}
    {% set urlQuery_section = craft.app.request.getQueryParam('s') ?? null %}
    {% if urlQuery_section %}
        {% set section = urlQuery_section | split(',') | first %}
    {% else %}
        {% set section = null %}
    {% endif %}


{# End Search Query Stuff, (fold code for ADD reasons) #}

{# getting our results 
    Ok, so theres a bit going on here and I won't remember it later.  
    .search(...) Just does a regular Craft search to get our initial list of results
    .section() 
        the 'and' sets the boolean tying all these requirements together.
        First the 'not...' remove sections to be omitted from the search results
        Then the "section ? section : 'not NONEXISTANT_SECTION'"...
            If a section was specified in the search params, only include results
            in that section
            If no section was specified, ony include entries that are NOT in a 
            section that does not exist, thus including all entries.
    .relatedTo(tags) if a tag is specified, limits to entries with that tag
    .relatedTo(cats) if a cat is specified, limits to entries with that cat
 #}
{% set query = craft.entries()
    .search(urlQuery_text) 
    .section([
        'and',
        'not ordenanzasYResolutiones',
        'not emergencyMessage',
        'not errorPages',
        section ? section : 'not NONEXISTANT_SECTION',
    ])
    .relatedTo(tags)
    .relatedTo(cat)
    .limit(10)
%}

{# Macro that creates each item in the list of search results  
 # @param result entry the entry/document to be described
 #}
{% macro searchListing(result) %}
    <a
        href="{{result.url}}"
        class="mb-4 py-2 border-b block"
    >
        <div class="font-advantage text-2xl">
            {{result.title}}
        </div>


        {# Making the breadcrumbs #}
            <a href="/search?s={{result.section.handle}}">{{result.section}}</a>
            {% set ancestors = result.getAncestors %}
            {% if ancestors | length > 0 %}
                >> {{ ancestors.all() | map(a=>"#{a.title}") | join(" >> ") }}
            {% endif %}
            >> {{result.title}}
        {# End Making the breadcrumbs #}
    </a>
{% endmacro %}

{# Macro for the pagination blocks
    @param pageInfo the pageInfo object created Craft's 'paginate' tag
 #}
{% macro pagination(pageInfo) %}
    <div class="flex justify-between mt-4 mx-auto max-w-md">
        {% if pageInfo.prevUrl %}<a href="{{ pageInfo.prevUrl }}">Siguiente</a> {% else %} <div class="w-px h-px">&nbsp;</div> {% endif %}
        <div class=""> {{pageInfo.first}} a {{pageInfo.last}} de {{pageInfo.total}} resultados </div>
        {% if pageInfo.nextUrl %}<a href="{{ pageInfo.nextUrl }}">Previo</a> {% else %} <div class="w-px h-px">&nbsp;</div> {% endif %}
    </div>
{% endmacro %}

{% block base_supercontent %}
    {% include "_partials/entry_titlebar" with {title : "Sus búsquedas"} %}
{% endblock %}

{% block base_content %}

    {% if query.exists %}
        {% paginate query as pageInfo, pageEntries %}
        
        {# pagination #}
        {{ _self.pagination(pageInfo) }}

        {# The individual listings #}
        {% for result in pageEntries %}
            {{ _self.searchListing(result) }}
        {% endfor %}

        {# pagination #}
        {{ _self.pagination(pageInfo) }}

    {% else %}
        {# No results were found. #}
        <p>No se encontraron resultados de búsqueda.</p>
    {% endif %}

{% endblock %}

